
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model FilterOptions

<br />

<form method="get" asp-controller="Home" asp-action="FilterBurials">

    <div class="form-group" style="width:80%;">
        <label for="genderfilter"> Gender </label>
        <select id="genderfilter" name="genderfilter">

            @foreach (string gender in Model.genderoptions)
            {
                <option url-helper-genderfilter="@gender" value="@gender">
                    @gender
                </option>
            }

        </select>
    </div>
    <div class="form-group">
        <label for="depthfilter"> Max Depth</label>
        <input value="@Context.Request.Query["depthfilter"]" type="number" id="depthfilter" name="depthfilter" />
    </div>
    <div class="form-group">
        <label for="locationfilter"></label>
        <select id="locationfilter" name="locationfilter">

            @foreach (KeyValuePair<string, int> entry in Model.Locations)
            {
                <option url-helper-locationfilter="" value="@entry.Value">
                    @entry.Key
                </option>
            }

        </select>

    </div>


    <br /> <br />
    <button type="submit" class="btn btn-primary text-center"> Filter </button>


    <br />

</form>
<br />