@model RoleIndexViewModel
@{
    ViewData["Title"] = "Researcher Roles";
}

<h1 style="text-align:center; font-size:24px;">Researcher Roles</h1>
<div class="container">
    <div class="manegesites">
        <div class="manegesites1">
            <div style="text-align:center">
                <table class="table table-light table-hover table-bordered">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var role in Model.Roles)
                        {
                            <tr>

                                <td>@role.Id</td>
                                <td>@role.Name</td>
                            </tr>


                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="manegesites2">
            <div class="scroll">
                <div class="col col-8>" style="border-radius: 3px;">
                    <div style="border-radius: 3px;">
                        <table class="table table-light table-hover table-bordered">
                            <thead>
                                <tr>
                                    <td>Id</td>
                                    <td>Email</td>
                                    <td>First Name</td>
                                    <td>Last Name</td>
                                    <td colspan="3">Roles</td>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var user in Model.UserRolesDict)
                                {
                                    <tr>
                                        <td>@user.Key.Id</td>
                                        <td>@user.Key.Email</td>
                                        <td>@(user.Key.FirstName ?? "NO FIRST NAME LISTED")</td>
                                        <td>@(user.Key.LastName ?? "NO LAST NAME LISTED")</td>
                                        <td>
                                            <form asp-action="ManageUserRoles" method="get">
                                                <input type="hidden" name="UserId" value="@user.Key.Id" hidden />
                                                <button type="submit" class="signinbutton">Edit Roles</button>
                                            </form>
                                        </td>

                                        @foreach (var role in user.Value)
                                        {
                                            <td>
                                                @role
                                            </td>
                                        }


                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
                <div>
                    <h1 class="btn btn-block text-white" style="font-size:64px;"><a asp-action="CreateField">Add Custom Field</a></h1>
                </div>
                <div class="col col-8>" style="border-radius: 3px;">
                    <div style="border-radius: 3px;">
                        <table class="table table-light table-hover table-bordered">
                            <thead>
                                <tr>
                                    <td>Field Name</td>
                                    <td colspan="3">Description</td>
                                    <td>Type</td>
                                    <td>
                                        Manage
                                    </td>
                                </tr>

                            </thead>
                            <tbody>

                                @foreach (var field in Model.Fields)
                                {
                                    <tr>
                                        <td>@field.Name</td>
                                        <td colspan="3">@field.Description</td>
                                        <td>@field.Type</td>
                                        <td>
                                            <form asp-action="EditField" asp-controller="Role" method="get">
                                                <input type="hidden" name="onetoonefieldid" value="@field.OneToOneFieldId" hidden />
                                                <button type="submit" class="signinbutton">Edit Field</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
