@model ManageUserRolesViewModel
@{
    ViewData["Title"] = "Researcher Roles";
}
@if (Model.IsEditingCurrentUser)
{
    <h1 class="text-danger">WARNING! EDITING YOUR CURRENT USER!</h1>
}
<div class="container">
    <h1 style="text-align:center; font-size:24px;">Selected Researcher</h1>
    <div class="manegesites">
        <div class="manegesites1">
            <div style="text-align:center">
                <table class="table table-light table-hover table-bordered">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var role in Model.Roles)
                        {
                            <tr>

                                <td>@role.Id</td>
                                <td>@role.Name</td>
                            </tr>


                        }
                    </tbody>
                </table>

            </div>
        </div>
        <div class="manegesites2-1">
            <div class="scroll">
                <div class="col col-8>" style="border-radius: 3px;">
                    <div style="border-radius: 3px;">
                        <table class="table table-light table-hover table-bordered">
                            <thead>
                                <tr>
                                    <td>Id</td>
                                    <td>Name</td>
                                    <td>Roles</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.User.Id</td>
                                    <td>@Model.User.UserName</td>
                                    <td>
                                        @foreach (Role role in Model.Roles)
                                        {
                                            @if (Model.UserRoles.Values.Contains(role.Id))
                                            {
                                                <form asp-action="ManageUserRoles" method="post">
                                                    <input type="hidden" name="roleId" value="@role.Id" hidden />
                                                    <input type="hidden" name="UserId" value="@Model.User.Id" hidden />
                                                    <input type="hidden" name="addOrRemove" value="false" hidden />
                                                    <input type="hidden" name="deleteUser" value="false" hidden />
                                                    <button type="submit" class="signinbuttonroles">Remove User as @role.Name</button>
                                                </form><br />
                                            }
                                            else
                                            {
                                                <form asp-action="ManageUserRoles" method="post">
                                                    <input type="hidden" name="roleId" value="@role.Id" hidden />
                                                    <input type="hidden" name="UserId" value="@Model.User.Id" hidden />
                                                    <input type="hidden" name="deleteUser" value="false" hidden />
                                                    <input type="hidden" name="addOrRemove" value="true" hidden />
                                                    <button type="submit" class="signinbuttonroles">Add User as @role.Name</button>
                                                </form><br />
                                            }
                                        }
                                    </td>
                                    <td>
                                        <form asp-action="DeleteUser" asp-controller="Role" method="get" class="form-group">
                                            <button class="btn btn-danger" type="submit">Delete data and close @Model.User.FirstName @Model.User.LastName account</button>
                                            <input type="hidden" name="UserId" value="@Model.User.Id" hidden />
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>