@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BurialSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel = "shortcut icon" type="image/jpg" href="~/img/d0aa6163-84fc-4bcf-a536-3ce9484a317e.jpg"> *@
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="~/css/csslogin.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>

        <div class="wrapper">
            <div class="box box1">
                @* <p class="box1-1"><a class="box1-1" asp-area="" asp-controller="Home" asp-action="Index">Home</a></p>*@




            </div>
            <div class="box box2"><a asp-area="" asp-controller="Home" asp-action="Index"><img width="211" height="100" src="https://brightspotcdn.byu.edu/7e/29/0288440343ef99077c183af02377/byu-home-monogram.svg" /></a></div>
            <div class="box box3">
                <div class="nested">
                    <div class="nested1">
                        @*<p class="nested1-1"><a asp-area="Identity" asp-page="/Account/Register">Register</a></p>*@
                        @* <p class="nested1-1"><a asp-area="Identity" asp-page="/Account/Login">Login</a></p>*@

                        @inject SignInManager<ResearchUser> SignInManager
                        @inject UserManager<ResearchUser> UserManager
                        @inject IAuthorizationService AuthorizationService

                        @if ((await AuthorizationService.AuthorizeAsync(User, "superadminpolicy")).Succeeded)
                        {

                        }



                        @* <ul class="navbar-nav">*@
                        @if (SignInManager.IsSignedIn(User))
                        {

                            <a class="nested1-1" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>


                            @* <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>*@

                        }
                        else
                        {
                            <p class="nested1-1"><a asp-area="Identity" asp-page="/Account/Login">Login</a></p>
                        }
                        @*  </ul>*@


                        @* <p class="nested1-1"><a asp-area="" asp-controller="Research" asp-action="ManageUsers">ManageUsers   </a></p>*@

                    </div>
                    <div>

                        <span>@*&#124;*@</span>

                    </div>
                    <div class="nested2">

                        <p class="nested1-3"><a href="https://cas.byu.edu/cas/login?service=https%3A%2F%2Flearningsuite.byu.edu%2F">Learning Suite</a></p>



                    </div>
                    <div class="nested3">
                        <a href="/">
                            <p class="nested1-4"><i class="fa fa-search"></i></p>
                        </a>


                    </div>


                </div>
            </div>
            <div class="box box4"></div>
            <div class="box box5">
                <div class="pages">
                    <div>
                        @* <p class="box5-1">*@<a class="box5-1" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </div>
                    <div>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a class="box5-1" asp-area="" asp-controller="Research" asp-action="AddSite">Manage Sites</a>
                        }
                        else
                        {
                            <a class="box5-1" asp-area="" asp-controller="Home" asp-action="ViewSites">View Sites</a>
                        }
                    </div>
                    <div>
                        <a class="box5-1" href="https://www.byu.edu/academics">Academics</a>

                    </div>
                    <div>
                        @if (SignInManager.IsSignedIn(User))
                        {


                            <form class="box5-2" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="box5-2">Logout</button>
                            </form>

                        }

                    </div>

                    @*  @if ((await AuthorizationService.AuthorizeAsync(User, "superadminpolicy")).Succeeded)
        {
            <div>
                <a class="box5-1" asp-area="" asp-controller="Role" asp-action="Index">Super User</a>
            </div>
        }*@



                    <div>
                        @if ((await AuthorizationService.AuthorizeAsync(User, "superadminpolicy")).Succeeded)
                        {

                            <a class="box5-1" asp-area="" asp-controller="Role" asp-action="Index">Admin</a>

                        }
                    </div>
                </div>
                </div>
            </div>
        


       






    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer id="footer">


        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>CONTACT</h3>
                        <p>


                            <strong>Phone:</strong> 801-422-4636<br>
                            <strong>Email:</strong> fagelgamous@gmail.com<br><br>
                            Some Building <br>
                            Provo, UT 84604<br>
                            United States <br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h3>Resources</h3>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.byu.edu/a-z-index">A-Z Index</a></li>

                            <li><i class="bx bx-chevron-right"></i> <a href="https://yjobs.byu.edu/">Careers at BYU</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://lib.byu.edu/">Library</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://oit.byu.edu/">Office Of OIT</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://police.byu.edu/">University Police & Parking</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://police.byu.edu/">Heath</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h3>OTHER CES SCHOOLS</h3>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.byuh.edu/">BYU-Hawaii</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.byu.edu/">BYU-Idaho</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.byupathway.org/">BYU Pathways Worldwide</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.ensign.edu/">Ensign College</a></li>

                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h3>CONNECT</h3>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="http://alumni.byu.edu/">BYU Alumni</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://byucougars.com/">BYU Athletics</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://news.byu.edu/">BYU News</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.byustore.com/">BYU Store</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.byutv.org/">BYUtv</a></li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="bottom-footer">
            <div class="container d-md-flex py-4">

                <div class="mr-md-auto text-center text-md-left">
                    <div>
                        <img src="https://brightspotcdn.byu.edu/e4/0a/b679ee0a41d9b1675fc78cd03239/byu-logo-white-small.svg" />
                    </div>

                </div>
                <div style="text-align:center;">
                    <div class="copyright">
                        Provo, UT 84602, USA
                        &copy; Copyright <strong><span style="color:white">Fag el Gamous</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/ -->
                        <a href="https://infosec.byu.edu/privacy-notice">Privacy Notice</a>
                    </div>
                </div>
                <div class="social-links text-center text-md-right pt-3 pt-md-0">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
