@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AddBurialSiteViewModel
<form method="post" asp-controller="Research" asp-action="SaveBurial">

    <div class="container details_div">
        <h1>Document a Burial</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <div class="card-body">
                <label asp-for="Burial.BurialLocationId">Burial Location</label>
                <select asp-for="Burial.BurialLocationId" class="locationfilter">

                    @foreach (KeyValuePair<string, int> entry in Model.LocationStrings)
                    {
                        <option url-helper-locationfilter="" value="@entry.Value" name="@entry.Key">
                            @entry.Key
                        </option>
                    }
                </select>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Burial_Number" class="control-label"></label>
                    <input asp-for="Burial.Burial_Number" class="form-control" />
                    <label asp-validation-for="Burial.Burial_Number" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.West_To_Head" class="control-label"></label>
                    <input asp-for="Burial.West_To_Head" class="form-control" />
                    <label asp-validation-for="Burial.West_To_Head" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.West_To_Feet" class="control-label"></label>
                    <input asp-for="Burial.West_To_Feet" class="form-control" />
                    <label asp-validation-for="Burial.West_To_Feet" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.East_To_Head" class="control-label"></label>
                    <input asp-for="Burial.East_To_Head" class="form-control" />
                    <label asp-validation-for="Burial.East_To_Head" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.East_To_Feet" class="control-label"></label>
                    <input asp-for="Burial.East_To_Feet" class="form-control" />
                    <label asp-validation-for="Burial.East_To_Feet" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.South_To_Head" class="control-label"></label>
                    <input asp-for="Burial.South_To_Head" class="form-control" />
                    <label asp-validation-for="Burial.South_To_Head" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.South_To_Feet" class="control-label"></label>
                    <input asp-for="Burial.South_To_Feet" class="form-control" />
                    <label asp-validation-for="Burial.South_To_Feet" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Depth" class="control-label"></label>
                    <input asp-for="Burial.Depth" class="form-control" />
                    <label asp-validation-for="Burial.Depth" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Length" class="control-label"></label>
                    <input asp-for="Burial.Length" class="form-control" />
                    <label asp-validation-for="Burial.Length" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Length_Of_Remains" class="control-label"></label>
                    <input asp-for="Burial.Length_Of_Remains" class="form-control" />
                    <label asp-validation-for="Burial.Length_Of_Remains" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Date_Excavated" class="control-label"></label>
                    <input asp-for="Burial.Date_Excavated" class="form-control" />
                    <label asp-validation-for="Burial.Date_Excavated" class="text-danger"></label>
                </div>
            </div>
        </div>

        <a href="#OptionButtons-Preservation-Details" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="BurialDetailsOne">
            <label class="btn btn-warning">Preservation Details</label>
        </a>
        <br />

        <div id="OptionButtons-Preservation-Details" class="collapse multi-collapse">
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Gamous" class="control-label"></label>
                    <input asp-for="Burial.Gamous" class="form-control" />
                    <label asp-validation-for="Burial.Gamous" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Preservation_State" class="control-label"></label>
                    <input asp-for="Burial.Preservation_State" class="form-control" />
                    <label asp-validation-for="Burial.Preservation_State" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Burial_Icon" class="control-label"></label>
                    <input asp-for="Burial.Burial_Icon" class="form-control" />
                    <label asp-validation-for="Burial.Burial_Icon" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Burial_Icon2" class="control-label"></label>
                    <input asp-for="Burial.Burial_Icon2" class="form-control" />
                    <label asp-validation-for="Burial.Burial_Icon2" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Sex_Method" class="control-label"></label>
                    <input asp-for="Burial.Sex_Method" class="form-control" />
                    <label asp-validation-for="Burial.Sex_Method" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Sex" class="control-label"></label>
                    <input asp-for="Burial.Sex" class="form-control" />
                    <label asp-validation-for="Burial.Sex" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.GE_Function_Total" class="control-label"></label>
                    <input asp-for="Burial.GE_Function_Total" class="form-control" />
                    <label asp-validation-for="Burial.GE_Function_Total" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Gender" class="control-label"></label>
                    <input asp-for="Burial.Gender" class="form-control" />
                    <label asp-validation-for="Burial.Gender" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Gender_By_Measurement" class="control-label"></label>
                    <input asp-for="Burial.Gender_By_Measurement" class="form-control" />
                    <label asp-validation-for="Burial.Gender_By_Measurement" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Age_At_Death" class="control-label"></label>
                    <input asp-for="Burial.Age_At_Death" class="form-control" />
                    <label asp-validation-for="Burial.Age_At_Death" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Age_Method" class="control-label"></label>
                    <input asp-for="Burial.Age_Method" class="form-control" />
                    <label asp-validation-for="Burial.Age_Method" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Hair_Color" class="control-label"></label>
                    <input asp-for="Burial.Hair_Color" class="form-control" />
                    <label asp-validation-for="Burial.Hair_Color" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Sample_Collected" class="control-label"></label>
                    <input asp-for="Burial.Sample_Collected" class="form-control" />
                    <label asp-validation-for="Burial.Sample_Collected" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Burial_Situation" class="control-label"></label>
                    <input asp-for="Burial.Burial_Situation" class="form-control" />
                    <label asp-validation-for="Burial.Burial_Situation" class="text-danger"></label>
                </div>
            </div>
        </div>

        <a href="#OptionButtons-Cranial-Details" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="BurialDetailsOne">
            <label class="btn btn-warning">Cranial and Other Specific Body Metrics</label>
        </a>
        <br />
        <div id="OptionButtons-Cranial-Details" class="collapse multi-collapse">
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Cranial_Sample_Number" class="control-label"></label>
                    <input asp-for="Burial.Cranial_Sample_Number" class="form-control" />
                    <label asp-validation-for="Burial.Cranial_Sample_Number" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Basilar_Suture" class="control-label"></label>
                    <select asp-for="Burial.Basilar_Suture" asp-items="@Model.BasilList">
                    </select>
                    <label asp-validation-for="Burial.Basilar_Suture" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Ventral_Arc" class="control-label"></label>
                    <input asp-for="Burial.Ventral_Arc" class="form-control" min="0" max="3" />
                    <label asp-validation-for="Burial.Ventral_Arc" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Subpubic_Angle" class="control-label"></label>
                    <input asp-for="Burial.Subpubic_Angle" class="form-control" min="0" max="3" />
                    <label asp-validation-for="Burial.Subpubic_Angle" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Sciatic_Notch" class="control-label"></label>
                    <input asp-for="Burial.Sciatic_Notch" class="form-control" min="0" max="3" />
                    <label asp-validation-for="Burial.Sciatic_Notch" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Pubic_Bone" class="control-label"></label>
                    <input asp-for="Burial.Pubic_Bone" class="form-control" min="0" max="3" />
                    <label asp-validation-for="Burial.Pubic_Bone" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Preaur_Sulcus" class="control-label"></label>
                    <input asp-for="Burial.Preaur_Sulcus" class="form-control" min="0" max="3" />
                    <label asp-validation-for="Burial.Preaur_Sulcus" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Medial_IP_Ramus" class="control-label"></label>
                    <input asp-for="Burial.Medial_IP_Ramus" class="form-control" min="0" max="3" />
                    <label asp-validation-for="Burial.Medial_IP_Ramus" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Dorsal_Pitting" class="control-label"></label>
                    <input asp-for="Burial.Dorsal_Pitting" class="form-control" min="0" max="3" />
                    <label asp-validation-for="Burial.Dorsal_Pitting" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Femur_Head" class="control-label"></label>
                    <input asp-for="Burial.Femur_Head" class="form-control" />
                    <label asp-validation-for="Burial.Femur_Head" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Humerus_Head" class="control-label"></label>
                    <input asp-for="Burial.Humerus_Head" class="form-control" />
                    <label asp-validation-for="Burial.Humerus_Head" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Osteophytosis" class="control-label"></label>
                    <input asp-for="Burial.Osteophytosis" class="form-control" />
                    <label asp-validation-for="Burial.Osteophytosis" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Pubic_Symphysis" class="control-label"></label>
                    <input asp-for="Burial.Pubic_Symphysis" class="form-control" />
                    <label asp-validation-for="Burial.Pubic_Symphysis" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Femur_Length" class="control-label"></label>
                    <input asp-for="Burial.Femur_Length" class="form-control" />
                    <label asp-validation-for="Burial.Femur_Length" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Humerus_Length" class="control-label"></label>
                    <input asp-for="Burial.Humerus_Length" class="form-control" />
                    <label asp-validation-for="Burial.Humerus_Length" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Tibia_Length" class="control-label"></label>
                    <input asp-for="Burial.Tibia_Length" class="form-control" />
                    <label asp-validation-for="Burial.Tibia_Length" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Robust" class="control-label"></label>
                    <input asp-for="Burial.Robust" class="form-control" min="0" max="3" />
                    <label asp-validation-for="Burial.Robust" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Supraorbital_Ridges" class="control-label"></label>
                    <input asp-for="Burial.Supraorbital_Ridges" class="form-control" min="0" max="3" />
                    <label asp-validation-for="Burial.Supraorbital_Ridges" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Orbit_Edge" class="control-label"></label>
                    <input asp-for="Burial.Orbit_Edge" class="form-control" min="0" max="3" />
                    <label asp-validation-for="Burial.Orbit_Edge" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Parietal_Bossing" class="control-label"></label>
                    <input asp-for="Burial.Parietal_Bossing" class="form-control" min="0" max="3" />
                    <label asp-validation-for="Burial.Parietal_Bossing" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Gonian" class="control-label"></label>
                    <input asp-for="Burial.Gonian" class="form-control" min="0" max="3" />
                    <label asp-validation-for="Burial.Gonian" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Nuchal_Crest" class="control-label"></label>
                    <input asp-for="Burial.Nuchal_Crest" class="form-control" min="0" max="3" />
                    <label asp-validation-for="Burial.Nuchal_Crest" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Zygomatic_Crest" class="control-label"></label>
                    <input asp-for="Burial.Zygomatic_Crest" class="form-control" min="0" max="3" />
                    <label asp-validation-for="Burial.Zygomatic_Crest" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Cranial_Suture" class="control-label"></label>
                    <select asp-for="Burial.Cranial_Suture" asp-items="@Model.CranialStructureList" class="form-control" />
                    <label asp-validation-for="Burial.Cranial_Suture" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Maximum_Cranial_Length" class="control-label"></label>
                    <input asp-for="Burial.Maximum_Cranial_Length" class="form-control" />
                    <label asp-validation-for="Burial.Maximum_Cranial_Length" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Maximum_Cranial_Breadth" class="control-label"></label>
                    <input asp-for="Burial.Maximum_Cranial_Breadth" class="form-control" />
                    <label asp-validation-for="Burial.Maximum_Cranial_Breadth" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Basion_Bregma_Height" class="control-label"></label>
                    <input asp-for="Burial.Basion_Bregma_Height" class="form-control" />
                    <label asp-validation-for="Burial.Basion_Bregma_Height" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Basion_Nasion" class="control-label"></label>
                    <input asp-for="Burial.Basion_Nasion" class="form-control" />
                    <label asp-validation-for="Burial.Basion_Nasion" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Basion_Prosthion_Length" class="control-label"></label>
                    <input asp-for="Burial.Basion_Prosthion_Length" class="form-control" />
                    <label asp-validation-for="Burial.Basion_Prosthion_Length" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Bizygomatic_Diameter" class="control-label"></label>
                    <input asp-for="Burial.Bizygomatic_Diameter" class="form-control" />
                    <label asp-validation-for="Burial.Bizygomatic_Diameter" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Nasion_Prosthion" class="control-label"></label>
                    <input asp-for="Burial.Nasion_Prosthion" class="form-control" />
                    <label asp-validation-for="Burial.Nasion_Prosthion" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Maximum_Nasal_Breadth" class="control-label"></label>
                    <input asp-for="Burial.Maximum_Nasal_Breadth" class="form-control" />
                    <label asp-validation-for="Burial.Maximum_Nasal_Breadth" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Interorbital_Breadth" class="control-label"></label>
                    <input asp-for="Burial.Interorbital_Breadth" class="form-control" />
                    <label asp-validation-for="Burial.Interorbital_Breadth" class="text-danger"></label>
                </div>
            </div>
        </div>

        <a href="#OptionButtons-Artifact-Sample-Details" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="BurialDetailsOne">
            <label class="btn btn-warning">Artifact and Other Preservation Details</label>
        </a>
        <br />
        <div id="OptionButtons-Artifact-Sample-Details" class="collapse multi-collapse">
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Artifacts_Description" class="control-label"></label>
                    <input asp-for="Burial.Artifacts_Description" class="form-control" />
                    <label asp-validation-for="Burial.Artifacts_Description" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Preservation_Index" class="control-label"></label>
                    <input asp-for="Burial.Preservation_Index" class="form-control" placeholder="Use Roman Numerals I,II,III" />
                    <label asp-validation-for="Burial.Preservation_Index" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Hair_Taken" class="control-label"></label>
                    <input asp-for="Burial.Hair_Taken" class="form-control" />
                    <label asp-validation-for="Burial.Hair_Taken" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Soft_Tissue_Taken" class="control-label"></label>
                    <input asp-for="Burial.Soft_Tissue_Taken" class="form-control" />
                    <label asp-validation-for="Burial.Soft_Tissue_Taken" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Bone_Taken" class="control-label"></label>
                    <input asp-for="Burial.Bone_Taken" class="form-control" />
                    <label asp-validation-for="Burial.Bone_Taken" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Tooth_Taken" class="control-label"></label>
                    <input asp-for="Burial.Tooth_Taken" class="form-control" />
                    <label asp-validation-for="Burial.Tooth_Taken" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Textile_Taken" class="control-label"></label>
                    <input asp-for="Burial.Textile_Taken" class="form-control" />
                    <label asp-validation-for="Burial.Textile_Taken" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Description_Of_Taken" class="control-label"></label>
                    <input asp-for="Burial.Description_Of_Taken" class="form-control" />
                    <label asp-validation-for="Burial.Description_Of_Taken" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Artifact_Found" class="control-label"></label>
                    <input asp-for="Burial.Artifact_Found" class="form-control" />
                    <label asp-validation-for="Burial.Artifact_Found" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Estimate_Living_Stature" class="control-label"></label>
                    <input asp-for="Burial.Estimate_Living_Stature" class="form-control" />
                    <label asp-validation-for="Burial.Estimate_Living_Stature" class="text-danger"></label>
                </div>
            </div>
        </div>


        <a href="#OptionButtons-Exact-Cranial-Details" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="BurialDetailsOne">
            <label class="btn btn-warning">Cranial and Other Specific Body Metrics</label>
        </a>

        <br />
        <div id="OptionButtons-Exact-Cranial-Details" class="collapse multi-collapse">
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Tooth_Attrition" class="control-label"></label>
                    <input asp-for="Burial.Tooth_Attrition" class="form-control" placeholder="Use Roman Numerals" />
                    <label asp-validation-for="Burial.Tooth_Attrition" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Tooth_Eruption" class="control-label"></label>
                    <input asp-for="Burial.Tooth_Eruption" class="form-control" />
                    <label asp-validation-for="Burial.Tooth_Eruption" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Pathology_Anomalies" class="control-label"></label>
                    <input asp-for="Burial.Pathology_Anomalies" class="form-control" />
                    <label asp-validation-for="Burial.Pathology_Anomalies" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Epiphyseal_Union" class="control-label"></label>
                    <input asp-for="Burial.Epiphyseal_Union" class="form-control" />
                    <label asp-validation-for="Burial.Epiphyseal_Union" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Head_Direction" class="control-label"></label>
                    <input asp-for="Burial.Head_Direction" class="form-control" />
                    <label asp-validation-for="Burial.Head_Direction" class="text-danger"></label>
                </div>

                <div class="card-body">
                    <label asp-for="Burial.Year_On_Skull" class="control-label"></label>
                    <input asp-for="Burial.Year_On_Skull" class="form-control" />
                    <label asp-validation-for="Burial.Year_On_Skull" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Month_On_Skull" class="control-label"></label>
                    <input asp-for="Burial.Month_On_Skull" class="form-control" />
                    <label asp-validation-for="Burial.Month_On_Skull" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Day_On_Skull" class="control-label"></label>
                    <input asp-for="Burial.Day_On_Skull" class="form-control" />
                    <label asp-validation-for="Burial.Day_On_Skull" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Field_Book" class="control-label"></label>
                    <input asp-for="Burial.Field_Book" class="form-control" />
                    <label asp-validation-for="Burial.Field_Book" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Field_Book_Page_Number" class="control-label"></label>
                    <input asp-for="Burial.Field_Book_Page_Number" class="form-control" />
                    <label asp-validation-for="Burial.Field_Book_Page_Number" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Initials_Of_Data_Entry_Expert" class="control-label"></label>
                    <input asp-for="Burial.Initials_Of_Data_Entry_Expert" class="form-control" />
                    <label asp-validation-for="Burial.Initials_Of_Data_Entry_Expert" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Initials_Of_Data_Entry_Checker" class="control-label"></label>
                    <input asp-for="Burial.Initials_Of_Data_Entry_Checker" class="form-control" />
                    <label asp-validation-for="Burial.Initials_Of_Data_Entry_Checker" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.BYU_Sample" class="control-label"></label>
                    <input asp-for="Burial.BYU_Sample" class="form-control" />
                    <label asp-validation-for="Burial.BYU_Sample" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Body_Analysis" class="control-label"></label>
                    <input asp-for="Burial.Body_Analysis" class="form-control" />
                    <label asp-validation-for="Burial.Body_Analysis" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Skull_At_Magazine" class="control-label"></label>
                    <input asp-for="Burial.Skull_At_Magazine" class="form-control" />
                    <label asp-validation-for="Burial.Skull_At_Magazine" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Postcrania_At_Magazine" class="control-label"></label>
                    <input asp-for="Burial.Postcrania_At_Magazine" class="form-control" />
                    <label asp-validation-for="Burial.Postcrania_At_Magazine" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Age" class="control-label"></label>
                    <input asp-for="Burial.Age" class="form-control" />
                    <label asp-validation-for="Burial.Age" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Rack_And_Shelf" class="control-label"></label>
                    <input asp-for="Burial.Rack_And_Shelf" class="form-control" />
                    <label asp-validation-for="Burial.Rack_And_Shelf" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Skull_Trauma" class="control-label"></label>
                    <input asp-for="Burial.Skull_Trauma" class="form-control" />
                    <label asp-validation-for="Burial.Skull_Trauma" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Postcrania_Trauma" class="control-label"></label>
                    <input asp-for="Burial.Postcrania_Trauma" class="form-control" />
                    <label asp-validation-for="Burial.Postcrania_Trauma" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Cribra_Orbitala" class="control-label"></label>
                    <input asp-for="Burial.Cribra_Orbitala" class="form-control" />
                    <label asp-validation-for="Burial.Cribra_Orbitala" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Porotic_Hyperostosis" class="control-label"></label>
                    <input asp-for="Burial.Porotic_Hyperostosis" class="form-control" />
                    <label asp-validation-for="Burial.Porotic_Hyperostosis" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Porotic_Hyperostosis_Locations" class="control-label"></label>
                    <input asp-for="Burial.Porotic_Hyperostosis_Locations" class="form-control" />
                    <label asp-validation-for="Burial.Porotic_Hyperostosis_Locations" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Metopic_Suture" class="control-label"></label>
                    <input asp-for="Burial.Metopic_Suture" class="form-control" />
                    <label asp-validation-for="Burial.Metopic_Suture" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Button_Osteoma" class="control-label"></label>
                    <input asp-for="Burial.Button_Osteoma" class="form-control" />
                    <label asp-validation-for="Burial.Button_Osteoma" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Osteology_Unknown_Comment" class="control-label"></label>
                    <input asp-for="Burial.Osteology_Unknown_Comment" class="form-control" />
                    <label asp-validation-for="Burial.Osteology_Unknown_Comment" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Temporal_Mandibular_Joint_Osteoarthritis" class="control-label"></label>
                    <input asp-for="Burial.Temporal_Mandibular_Joint_Osteoarthritis" class="form-control" />
                    <label asp-validation-for="Burial.Temporal_Mandibular_Joint_Osteoarthritis" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Linear_Hypoplasia_Enamel" class="control-label"></label>
                    <input asp-for="Burial.Linear_Hypoplasia_Enamel" class="form-control" />
                    <label asp-validation-for="Burial.Linear_Hypoplasia_Enamel" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Tomb" class="control-label"></label>
                    <input asp-for="Burial.Tomb" class="form-control" />
                    <label asp-validation-for="Burial.Tomb" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Burial_Preservation" class="control-label"></label>
                    <input asp-for="Burial.Burial_Preservation" class="form-control" />
                    <label asp-validation-for="Burial.Burial_Preservation" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Burial_Wrapping" class="control-label"></label>
                    <input asp-for="Burial.Burial_Wrapping" class="form-control" />
                    <label asp-validation-for="Burial.Burial_Wrapping" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Burial_Adult_Child" class="control-label"></label>
                    <input asp-for="Burial.Burial_Adult_Child" class="form-control" />
                    <label asp-validation-for="Burial.Burial_Adult_Child" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Age_Code" class="control-label"></label>
                    <input asp-for="Burial.Age_Code" class="form-control" />
                    <label asp-validation-for="Burial.Age_Code" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Burial_Sample_Taken" class="control-label"></label>
                    <input asp-for="Burial.Burial_Sample_Taken" class="form-control" />
                    <label asp-validation-for="Burial.Burial_Sample_Taken" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Length_In_Meters" class="control-label"></label>
                    <input asp-for="Burial.Length_In_Meters" class="form-control" />
                    <label asp-validation-for="Burial.Length_In_Meters" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Length_In_Centimeters" class="control-label"></label>
                    <input asp-for="Burial.Length_In_Centimeters" class="form-control" />
                    <label asp-validation-for="Burial.Length_In_Centimeters" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Length_In_Millimeters" class="control-label"></label>
                    <input asp-for="Burial.Length_In_Millimeters" class="form-control" />
                    <label asp-validation-for="Burial.Length_In_Millimeters" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Goods" class="control-label"></label>
                    <input asp-for="Burial.Goods" class="form-control" />
                    <label asp-validation-for="Burial.Goods" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Cluster" class="control-label"></label>
                    <input asp-for="Burial.Cluster" class="form-control" />
                    <label asp-validation-for="Burial.Cluster" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Face_Bundle" class="control-label"></label>
                    <input asp-for="Burial.Face_Bundle" class="form-control" />
                    <label asp-validation-for="Burial.Face_Bundle" class="text-danger"></label>
                </div>
            </div>

        </div>






        <a href="#OptionButtons-c14" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="BurialDetailsOne">
            <label class="btn btn-warning">Carbon Dating and other Storage Information</label>
        </a>
        <br />
        <div id="OptionButtons-c14" class="collapse multi-collapse">
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Rack" class="control-label"></label>
                    <input asp-for="Burial.Rack" class="form-control" />
                    <label asp-validation-for="Burial.Rack" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Tube_Number" class="control-label"></label>
                    <input asp-for="Burial.Tube_Number" class="form-control" />
                    <label asp-validation-for="Burial.Tube_Number" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Burial_Description" class="control-label"></label>
                    <input asp-for="Burial.Burial_Description" class="form-control" />
                    <label asp-validation-for="Burial.Burial_Description" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Foci" class="control-label"></label>
                    <input asp-for="Burial.Foci" class="form-control" />
                    <label asp-validation-for="Burial.Foci" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.C14_Sample" class="control-label"></label>
                    <input asp-for="Burial.C14_Sample" class="form-control" />
                    <label asp-validation-for="Burial.C14_Sample" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Location" class="control-label"></label>
                    <input asp-for="Burial.Location" class="form-control" />
                    <label asp-validation-for="Burial.Location" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Questions" class="control-label"></label>
                    <input asp-for="Burial.Questions" class="form-control" />
                    <label asp-validation-for="Burial.Questions" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Conventional_14C_Age_BP" class="control-label"></label>
                    <input asp-for="Burial.Conventional_14C_Age_BP" class="form-control" />
                    <label asp-validation-for="Burial.Conventional_14C_Age_BP" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.C14_Calendar_Date" class="control-label"></label>
                    <input asp-for="Burial.C14_Calendar_Date" class="form-control" />
                    <label asp-validation-for="Burial.C14_Calendar_Date" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Calibrated_95_Calendar_Date_Max" class="control-label"></label>
                    <input asp-for="Burial.Calibrated_95_Calendar_Date_Max" class="form-control" />
                    <label asp-validation-for="Burial.Calibrated_95_Calendar_Date_Max" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Calibrated_95_Calendar_Date_Min" class="control-label"></label>
                    <input asp-for="Burial.Calibrated_95_Calendar_Date_Min" class="form-control" />
                    <label asp-validation-for="Burial.Calibrated_95_Calendar_Date_Min" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Calibrated_95_Calendar_Date_Span" class="control-label"></label>
                    <input asp-for="Burial.Calibrated_95_Calendar_Date_Span" class="form-control" />
                    <label asp-validation-for="Burial.Calibrated_95_Calendar_Date_label" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Calibrated_95_Calendar_Date_Avg" class="control-label"></label>
                    <input asp-for="Burial.Calibrated_95_Calendar_Date_Avg" class="form-control" />
                    <label asp-validation-for="Burial.Calibrated_95_Calendar_Date_Avg" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Category" class="control-label"></label>
                    <input asp-for="Burial.Category" class="form-control" />
                    <label asp-validation-for="Burial.Category" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Bag" class="control-label"></label>
                    <input asp-for="Burial.Bag" class="form-control" />
                    <label asp-validation-for="Burial.Bag" class="text-danger"></label>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <label asp-for="Burial.Date" class="control-label"></label>
                    <input asp-for="Burial.Date" class="form-control" />
                    <label asp-validation-for="Burial.Date" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Previously_Sampled" class="control-label"></label>
                    <input asp-for="Burial.Previously_Sampled" class="form-control" />
                    <label asp-validation-for="Burial.Previously_Sampled" class="text-danger"></label>
                </div>
                <div class="card-body">
                    <label asp-for="Burial.Initials" class="control-label"></label>
                    <input asp-for="Burial.Initials" class="form-control" />
                    <label asp-validation-for="Burial.Initials" class="text-danger"></label>
                </div>
            </div>
        </div>

        <div class="card-body">
            <button type="submit" class="btn btn-primary"> Create Burial</button>
        </div>
    </div>
</form>

