@page
@model BurialSite.Views.Research.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Burial</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.BurLocID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.BurLocID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Gamous)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Gamous)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Burial_Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Burial_Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.West_To_Head)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.West_To_Head)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.West_To_Feet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.West_To_Feet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.East_To_Head)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.East_To_Head)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.East_To_Feet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.East_To_Feet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.South_To_Head)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.South_To_Head)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.South_To_Feet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.South_To_Feet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Depth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Depth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Preservation_State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Preservation_State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Burial_Icon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Burial_Icon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Burial_Icon2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Burial_Icon2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Sex_Method)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Sex_Method)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.GE_Function_Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.GE_Function_Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Gender_By_Measurement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Gender_By_Measurement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Age_At_Death)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Age_At_Death)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Age_Method)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Age_Method)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Hair_Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Hair_Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Sample_Collected)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Sample_Collected)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Burial_Situation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Burial_Situation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Length_Of_Remains)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Length_Of_Remains)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Cranial_Sample_Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Cranial_Sample_Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Basilar_Suture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Basilar_Suture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Ventral_Arc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Ventral_Arc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Subpubic_Angle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Subpubic_Angle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Sciatic_Notch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Sciatic_Notch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Pubic_Bone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Pubic_Bone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Preaur_Sulcus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Preaur_Sulcus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Medial_IP_Ramus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Medial_IP_Ramus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Dorsal_Pitting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Dorsal_Pitting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Femur_Head)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Femur_Head)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Humerus_Head)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Humerus_Head)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Osteophytosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Osteophytosis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Pubic_Symphysis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Pubic_Symphysis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Femur_Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Femur_Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Humerus_Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Humerus_Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Tibia_Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Tibia_Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Robust)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Robust)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Supraorbital_Ridges)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Supraorbital_Ridges)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Orbit_Edge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Orbit_Edge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Parietal_Bossing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Parietal_Bossing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Gonian)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Gonian)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Nuchal_Crest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Nuchal_Crest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Zygomatic_Crest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Zygomatic_Crest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Cranial_Suture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Cranial_Suture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Maximum_Cranial_Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Maximum_Cranial_Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Maximum_Cranial_Breadth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Maximum_Cranial_Breadth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Basion_Bregma_Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Basion_Bregma_Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Basion_Nasion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Basion_Nasion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Basion_Prosthion_Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Basion_Prosthion_Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Bizygomatic_Diameter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Bizygomatic_Diameter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Nasion_Prosthion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Nasion_Prosthion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Maximum_Nasal_Breadth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Maximum_Nasal_Breadth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Interorbital_Breadth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Interorbital_Breadth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Artifacts_Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Artifacts_Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Preservation_Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Preservation_Index)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Hair_Taken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Hair_Taken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Soft_Tissue_Taken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Soft_Tissue_Taken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Bone_Taken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Bone_Taken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Tooth_Taken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Tooth_Taken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Textile_Taken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Textile_Taken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Description_Of_Taken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Description_Of_Taken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Artifact_Found)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Artifact_Found)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Estimate_Living_Stature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Estimate_Living_Stature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Tooth_Attrition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Tooth_Attrition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Tooth_Eruption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Tooth_Eruption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Pathology_Anomalies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Pathology_Anomalies)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Epiphyseal_Union)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Epiphyseal_Union)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Date_Excavated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Date_Excavated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Head_Direction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Head_Direction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Artifact_Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Artifact_Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Artifacts_Found)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Artifacts_Found)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Year_On_Skull)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Year_On_Skull)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Month_On_Skull)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Month_On_Skull)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Day_On_Skull)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Day_On_Skull)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Field_Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Field_Book)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Field_Book_Page_Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Field_Book_Page_Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Initials_Of_Data_Entry_Expert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Initials_Of_Data_Entry_Expert)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Initials_Of_Data_Entry_Checker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Initials_Of_Data_Entry_Checker)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.BYU_Sample)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.BYU_Sample)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Body_Analysis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Body_Analysis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Skull_At_Magazine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Skull_At_Magazine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Postcrania_At_Magazine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Postcrania_At_Magazine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Rack_And_Shelf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Rack_And_Shelf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Skull_Trauma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Skull_Trauma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Postcrania_Trauma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Postcrania_Trauma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Cribra_Orbitala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Cribra_Orbitala)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Porotic_Hyperostosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Porotic_Hyperostosis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Porotic_Hyperostosis_Locations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Porotic_Hyperostosis_Locations)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Metopic_Suture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Metopic_Suture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Button_Osteoma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Button_Osteoma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Osteology_Unknown_Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Osteology_Unknown_Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Temporal_Mandibular_Joint_Osteoarthritis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Temporal_Mandibular_Joint_Osteoarthritis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Linear_Hypoplasia_Enamel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Linear_Hypoplasia_Enamel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Tomb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Tomb)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Burial_Preservation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Burial_Preservation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Burial_Wrapping)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Burial_Wrapping)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Burial_Adult_Child)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Burial_Adult_Child)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Age_Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Age_Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Burial_Sample_Taken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Burial_Sample_Taken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Length_In_Meters)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Length_In_Meters)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Length_In_Centimeters)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Length_In_Centimeters)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Length_In_Millimeters)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Length_In_Millimeters)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Goods)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Goods)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Cluster)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Cluster)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Face_Bundle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Face_Bundle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Rank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Rank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Tube_Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Tube_Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Burial_Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Burial_Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Foci)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Foci)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.C14_Sample)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.C14_Sample)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Questions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Questions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Conventional_14C_Age_BP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Conventional_14C_Age_BP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.C14_Calendar_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.C14_Calendar_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Calibrated_95_Calendar_Date_Max)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Calibrated_95_Calendar_Date_Max)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Calibrated_95_Calendar_Date_Min)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Calibrated_95_Calendar_Date_Min)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Calibrated_95_Calendar_Date_Span)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Calibrated_95_Calendar_Date_Span)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Calibrated_95_Calendar_Date_Avg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Calibrated_95_Calendar_Date_Avg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Bag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Bag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Previously_Sampled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Previously_Sampled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.Initials)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.Initials)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial.BurialLocationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burial.BurialLocationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Burial.BurialID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
